<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
    <dt>Review</dt>
    <% @review =Review.new %>
    <%= form_for @review ,url:product_reviews_path(params[:id]), local: true do |form| %>
      
       <% if @review.errors.any? %>
         <div id="error_explanation">
           <h2>
             <%= pluralize(@review.errors.count, "error") %> prohibited
             this category from being saved:
           </h2>
           <ul>
             <% @review.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
             <% end %>
           </ul>
         </div>
       <% end %>
      
       <p>
         <%= form.label :description %><br>
         <%= form.text_area :description %>
       </p>
       <p>
       <%= form.label :rating %><br>
       <%= form.select :rating,[0,1,2,3,4,5] %>
       </p>
      
       <p>
         <%= form.submit %>
       </p>
      
     <% end %>
    <% @review = Review.where(:product_id => @product.id) %>
    <% @review.each do |elem| %>
    <dd><div>User: <%= User.find(elem.user_id).first_name %></div>
    <div>Rating: <%= elem.rating %></div>
    <div>Description: <%= elem.description %></div>
    </dd>
    <%end%>

  </article>

</section>
